*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


footer {
     display:flex;
     justify-content: center;
     align-items: center;
     flex-direction:column;  
     background-color: rgb(18, 18, 18);
     padding-left: 300px;
    
    

}

.menu {
     display: flex;         
     padding: 10px;

}

.submenu {
    padding: 50px;
        
}

.submenu h1 {
    font-size: 13px;
    font-weight: bold;
    color: white;
    
}

.submenu p {
    font-size: 11px;
    cursor: pointer;
    color: grey;
}

p:hover{
    color: white;
    text-decoration: underline;
    
}


.socialmedia {
    display: flex;
    justify-content:center;
    align-items:first baseline;
    padding: 50px; 
    color: white;
    
   
}

.btninst:hover {
    color: grey;
    transform: scale(1.1);
    transition: all 0.5s;
  
    
}

.btntwitter:hover {
    color: grey;
    transform: scale(1.1);
    transition: all 0.5s;
     
    
}

.btnface:hover {
    color: grey;
    transform: scale(1.1);
    transition: all 0.5s;
    
    
}


.copyright {
    display: flex;  
    align-items: center;
    font-size: 10px;   
    color: grey; 

}


@media only screen and (max-width: 600px){
    footer{     
     width: 100%;
     text-align: left;
     margin-left: 300px;
          
    } 

    .menu {
        flex-direction: column
        
                  
   
    }
};

